@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  /* Slate 900 */
  color: #f8fafc;
  /* Slate 50 */
}